.column-container {
  display: flex;
}

.column-container section {
  display: inline-block;
  width: 100%;
  border-style: groove;
  margin: 5px;
  background-color: #FFF;
}

.query-placeholder, form, header, h3 {
  text-align: center;
}

form {
  margin: 10px auto;
}

.hide {
  display: none;
}

#input-search {
  padding: 5px;
  border: 1px solid #4484CE;
}

#map {
  margin-top: 10px;
  border: 2px solid #4484CE;
}